<h3 class="text-center">About</h3>
<div class="contact">
<p>This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. This is an about page. </p>
</div>