<h3 class="text-center">InnovateAladdin</h3>
<div class="contact">
<p>InnovateAladdin was built to create an efficient and effective platform for BlackRock employees to advance six key areas of our business: client service, product development, scaling the business, user experience, internal efficiencies, and training</p>
<p>More ideas lead to more solutions and a better BlackRock. Please join InnovateAladdin and help us help BlackRock.</p>
</div>